:root {
  font-family: 'Inter', system-ui, 'Avenir', Helvetica, Arial, sans-serif, 'HarmonyOS' !important;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

@font-face {
  font-family: 'HarmonyOS';
  src: ('./assets/fonts/HarmonyOS/HarmonyOS_Sans/HarmonyOS_Sans_Regular.ttf') format('truetype');
}

